/ElasticSearchSynSchedule.Common/bin/Debug/ElasticSearchSynSchedule.Common.dll
/ElasticSearchSynSchedule.Common/bin/Debug/ElasticSearchSynSchedule.Common.pdb
/ElasticSearchSynSchedule.Common/bin/Debug/Elasticsearch.Net.dll
/ElasticSearchSynSchedule.Common/bin/Debug/Nest.dll
/ElasticSearchSynSchedule.Common/bin/Debug/Newtonsoft.Json.dll
/ElasticSearchSynSchedule.Common/bin/Debug/ServiceStack.Client.dll
/ElasticSearchSynSchedule.Common/bin/Debug/ServiceStack.HttpClient.dll
/ElasticSearchSynSchedule.Common/bin/Debug/ServiceStack.Interfaces.dll
/ElasticSearchSynSchedule.Common/bin/Debug/ServiceStack.Text.dll
/ElasticSearchSynSchedule.Common/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ElasticSearchSynSchedule.Common/obj/Debug/ElasticSearchSynSchedule.Common.csproj.FileListAbsolute.txt
/ElasticSearchSynSchedule.Common/obj/Debug/ElasticSearchSynSchedule.Common.dll
/ElasticSearchSynSchedule.Common/obj/Debug/ElasticSearchSynSchedule.Common.pdb
/ElasticSearchSynSchedule.Common/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ElasticSearchSynSchedule.Common/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ElasticSearchSynSchedule.Common/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ElasticSearchSynSchedule/bin/Debug/ElasticSearchSynSchedule.Common.dll
/ElasticSearchSynSchedule/bin/Debug/ElasticSearchSynSchedule.Common.pdb
/ElasticSearchSynSchedule/bin/Debug/ElasticSearchSynSchedule.exe
/ElasticSearchSynSchedule/bin/Debug/ElasticSearchSynSchedule.exe.config
/ElasticSearchSynSchedule/bin/Debug/ElasticSearchSynSchedule.pdb
/ElasticSearchSynSchedule/bin/Debug/ElasticSearchSynSchedule.vshost.exe
/ElasticSearchSynSchedule/bin/Debug/ElasticSearchSynSchedule.vshost.exe.config
/ElasticSearchSynSchedule/bin/Debug/ElasticSearchSynSchedule.vshost.exe.manifest
/ElasticSearchSynSchedule/bin/Debug/Elasticsearch.Net.dll
/ElasticSearchSynSchedule/bin/Debug/Nest.dll
/ElasticSearchSynSchedule/bin/Debug/Newtonsoft.Json.dll
/ElasticSearchSynSchedule/bin/Debug/River/mssql.xml
/ElasticSearchSynSchedule/bin/Debug/ServiceStack.Client.dll
/ElasticSearchSynSchedule/bin/Debug/ServiceStack.Interfaces.dll
/ElasticSearchSynSchedule/bin/Debug/ServiceStack.Text.dll
/ElasticSearchSynSchedule/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ElasticSearchSynSchedule/obj/Debug/ElasticSearchSynSchedule.csproj.FileListAbsolute.txt
/ElasticSearchSynSchedule/obj/Debug/ElasticSearchSynSchedule.csprojResolveAssemblyReference.cache
/ElasticSearchSynSchedule/obj/Debug/ElasticSearchSynSchedule.exe
/ElasticSearchSynSchedule/obj/Debug/ElasticSearchSynSchedule.pdb
/ElasticSearchSynSchedule/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ElasticSearchSynSchedule/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ElasticSearchSynSchedule/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
obj
bin
