<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="IndexAlias" value="testmall"/>
    <add key="SearchUrl" value="http://192.168.1.8:9200"/>
    <add key="time" value="120"/><!--定时执行的分钟数-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
