<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="IndexAlias" value="mall"/>
    <add key="SearchUrl" value="http://192.168.1.8:9200"/>
    <add key="time" value="120"/><!--定时执行的分钟数-->
    <add key="SuggestIndexAlias" value="mallsuggest"/>
    <add key="PageSize" value="1000"/>
  </appSettings>
  <connectionStrings>
    <add name="ldjmallconstr" connectionString="Server=192.168.1.114;Database=ldjmall0720;User Id=sa;Password=LDJsql20160418;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
